.button {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.button:hover {
  background-color: #000000;
}

.blue {
  background-color: #3E98C7;
}

.red {
  background-color: #c73e3e;
}

.white {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.white:hover {
  background-color: #000000;
  color: #ffffff;
}
