.container {
  min-height: calc(100vh - 130px);
  display: block;
  width: inherit;
}

.area_buttons button{
  font-size: 17px;
  width: 200px;
  margin-top: 20px;
  font-weight: bold;
}

.area_buttons button:first-child {
  margin-right: 30px;
}

.title {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 300px;
  height: calc(100vh / 2.5);
  max-height: 360px;
}

.grid_title {
  max-width: 1150px;
  margin: 0px auto;
  text-shadow: 1px 1px 0 rgb(0 0 0 / 30%);
}


.title h1 {
  font-size: 3em !important;
  font-weight: 700;
  line-height: 1.5;
  padding-top: 57px;
  color: #ffffff;
  font-size: 2.2rem;
}

.title p {
  font-size: 1.2em !important;
  font-weight: 500;
  color: #ffffff;
}

.grid_title p span{
  padding: 5px;
  width: 20px;
}

.movie_info {
  max-width: 1150px;
  margin: 50px auto;
}

.movie_info h1,
.movie_info h2 {
  margin-top: 14px;
  font-size: 1.25em;
  padding: 0px 0 10px 0;
}

.movie_info p {
  margin: 8px 0;
  line-height: 1.6;
  font-size: 1.15em;
  color: rgb(20, 18, 18);
  font-weight: 400;
  text-align: justify;
}